# JetBrains IDE IntelliJ IDEA
CranSearchEngine.iml
target
.idea

# JavaDoc
doc

# Cranfield collection
cran/collection
cran/docs/cran.*
cran/queries/cran.*
cran/index/*.cfe
cran/index/*.cfs
cran/index/*.si
cran/index/*.gen
cran/index/segments*
cran/index/*.lock